.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.infoBarContainer {
  padding: 10px 10px 0 10px;
}

.infoBar {
  border-radius: 5px;
  background: #5879f0;
  font-family: var(--font-body);
  font-size: 13px;
  line-height: 15px;
  color: #f1f2f8;
  padding: 5px 10px;
}

.infoBar.centered {
  text-align: center;
}

.infoBar .actions {
  white-space: nowrap;
}

.infoBar .actions .toggleUI {
  cursor: pointer;
}

.infoBar .actions * + *::before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 1px;
  margin: 0 10px;
  background: #dee0ef;
  opacity: 0.2;
  border-radius: 11px;
  vertical-align: middle;
}

.infoBar .actions .githubLink {
  display: inline-block;
}

.infoBar a:link,
.infoBar a:visited,
.infoBar a:hover,
.infoBar a:active {
  color: #f1f2f8;
  font-weight: 500;
  text-underline-offset: 3px;
}

.menuBar {
  padding: 10px 10px 0 10px;
}

.menuBar.hidden {
  display: none;
}

.menuBar .logoLink {
  line-height: 0;
}

.content {
  flex: 1;
  min-height: min-content;
  position: relative;
  overflow: hidden;
  display: flex;
}

.siteName {
  font-size: 13px;
  line-height: 17px;
  color: #5f6989;
}

.betaTag {
  margin-left: 5px;
  font-family: var(--font-body);
  font-size: 6px;
  font-weight: 500;
  line-height: 8px;
  color: #5879f0;
  padding: 4px 5px;
  background: rgba(88, 121, 240, 0.2);
  border-radius: 2px;
  text-transform: uppercase;
}
